<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="social-icons">
            <li><a href="https://www.facebook.com/rizuanmozquree">Facebook</a></li>
            <li><a href="https://github.com/Md-Rizuan">Github</a></li>
           
            <li><a href="https://www.linkedin.com/in/md-rizuan/">Linkedin</a></li>
            
          </ul>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright : MD RIZUAN MOZQUREE
                  
               | Design: <a rel="nofollow" href="#" target="_parent"> Rizuan</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>