{% extends 'base.html' %}

{% load static %}
{% block title %} My Profile {% endblock title %}

{% block content %}
<section class="profile">
    <div class="container-fluid">
        <div class="row py-5">
            <div class="col-md-4">
                <div class="text-center">
                    <img class="rounded rounded-circle profile-picture" src="{{request.user.get_profile_picture}}" alt="">
                    <ul class="text-center py-3">
                    <li class="py-2">
                        <span> Post: <strong>{{account.user_blogs.count}}</strong> </span>
                    </li>
                    <li class="py-2">
                        <span> Follower: <strong>100</strong> </span>
                    </li>
                    <li class="py-2">
                        <span> Following: <strong>100</strong> </span>
                    </li>
                </ul>
                
                </div>
                     <div class="text-center mb-3">
                                                    <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                    Update Profile Picture
                                </button>
                                
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Update Profile </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                           <form method="POST" action="{% url 'change_profile_picture' %}" enctype="multipart/form-data">
                                            {% csrf_token %}
                                             <class="form-group">
                                                    <input class="form-control" type="file" name="profile_image">


                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-primary">Save Changes </button>
                                                    </div>
                                           </form>
                                        </div>
                                        
                                    </div>
                                    </div>
                                </div>    

                   </div>
                        <ul class="list-group-item text-center">
                            <li class="list-item my-1">
                                <a class="text-decoration-none" href="{% url 'my_blogs' %}">My Blog </a>
                        </ul>
                        <ul class="list-group-item text-center">
                            <li class="list-item my-1">
                                <a class="text-decoration-none" href="{% url 'add_blog'%}">Add Blog </a>
                        </ul>
                        <ul class="list-group-item text-center">
                            <li class="list-item my-1">
                                <a class="text-decoration-none" href="{% url 'add_todo'%}">My Todo </a>
                        </ul>
            </div>
                 <div class="col-md-8">
                    <form action="{% url 'profile'%}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="first_name"> Firstname </label>
                            <input class="form-control" name="firstname" value="{{account.first_name}}" type="text">
                        </div>
                        <div class="form-group">
                            <label for="last_name"> Lastname </label>
                            <input class="form-control" name="lastname" value="{{account.last_name}}" type="text">
                        </div><div class="form-group">
                            <label for="username"> Username </label>
                            <input class="form-control" name="username" value="{{account.username}}" type="text">
                        </div><div class="form-group">
                            <label for="email"> Email </label>
                            <input class="form-control" name="email" value="{{account.email}}" type="text">
                        </div><div class="form-group">
                            <label for="new_passwrod"> New Password </label>
                            <input class="form-control" name="new_password" value="" type="text">
                        </div><div class="form-group">
                            <label for="confirm_password"> Confirm Password </label>
                            <input class="form-control" name="confirm_password" value="" type="text">
                        </div>
                        <div class="form-group mt-2">
                            <button class="btn btn-warning"> Update </button>
                         </div>
                    </div>
                    
        </div>
    </div>

    
</section>


{% endblock content %}